body{
    padding: 0;
    margin: 0;
}
#container {
    display: grid;
    grid: repeat(3, 51px) / auto-flow 51px;
    width: 153px;
}

#container > div {

    border: 1px solid black;
    width: 50px;
    height: 50px;
}
#resetGame{
    margin-top: 15px;
}